header {
  height: 30vh;
  margin-bottom: 4px;
  margin-top: 10px;
  flex: 3;
  align-self: center;
  width: 50vw;
  display: flex;
  flex-direction: column;
}
#header-view-1 {
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 15px;
  width: 90%;
}

#header-view-2 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 50%;
  align-self: justify;
  font-size: 15px;
  color: rgb(12, 11, 11);
}

#bio-spans-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #e4ecee;
  color: black;
  border-radius: 5px;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  /*top, right, bottom, left (clockwise)*/
  padding: 20px 0px 20px 15px;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 14.16px;
  border-radius: 23.59px;
  box-shadow: 0 4px 6px 2px rgba(245, 241, 241, 0.973); /* Last value (2px) is the spread */
}

#profile-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.bspacer {
  margin-bottom: 10px;
}

#profile-image-container > div {
  margin-bottom: 3px;
}
